*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
#过滤掉.settings和target文件夹
.settings/
target/
/target
.classpath
.project
.metadata/
/target/
/bin
bin/


#过滤掉.idea和.DS_Store
.idea/
*.DS_Store

#过滤掉.classpath文件和.project文件
*.classpath
*.project
